(
    show_hierarchy: Some(false),
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("wave.vcd"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "tbench",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                            "control_unit",
                        ],
                    ),
                    name: "next_state",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "next_state [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (37): Group((
                name: "control",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_funct1",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "i_funct1 [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (38): Group((
                name: "control",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_rd_addr1",
                ),
                color: None,
                background_color: None,
                display_name: "o_rd_addr1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Group((
                name: "buf1",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_sch_dque_request",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "o_sch_dque_request [0]",
                display_name_type: Unique,
                manual_name: Some("o_request [0]"),
                format: None,
                field_formats: [],
            )),
            (18): Group((
                name: "buf0",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (23): Group((
                name: "system",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_rd_addr1",
                ),
                color: None,
                background_color: None,
                display_name: "i_rd_addr1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf1_valid",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "buf1_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf0_funct",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "buf0_funct [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Group((
                name: "buf2",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_funct0",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "o_funct0 [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_valid0",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "i_valid0",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Group((
                name: "in",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf0_rd_addr",
                ),
                color: None,
                background_color: None,
                display_name: "buf0_rd_addr [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                            "control_unit",
                        ],
                    ),
                    name: "current_state",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "current_state [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (47): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_valid0",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "o_valid0",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                            "control_unit",
                        ],
                    ),
                    name: "hold",
                ),
                color: None,
                background_color: None,
                display_name: "hold [0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf2_funct",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "buf2_funct [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf2_rd_addr",
                ),
                color: None,
                background_color: None,
                display_name: "buf2_rd_addr [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_rstn",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "i_rstn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf2_valid",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "buf2_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf0_valid",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "buf0_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_clk",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "i_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf1_funct",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "buf1_funct [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (31): Group((
                name: "out",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                            "control_unit",
                        ],
                    ),
                    name: "rd_comp",
                ),
                color: None,
                background_color: None,
                display_name: "rd_comp [0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_rd_addr0",
                ),
                color: None,
                background_color: None,
                display_name: "i_rd_addr0 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_funct0",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "i_funct0 [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_rd_addr0",
                ),
                color: None,
                background_color: None,
                display_name: "o_rd_addr0 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_valid1",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "i_valid1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                            "DUT",
                        ],
                    ),
                    name: "buf1_rd_addr",
                ),
                color: None,
                background_color: None,
                display_name: "buf1_rd_addr [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_valid1",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "o_valid1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (48): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "i_dque_sch_ready",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "i_dque_sch_ready [0]",
                display_name_type: Unique,
                manual_name: Some("i_ready [0]"),
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tbench",
                        ],
                    ),
                    name: "o_funct1",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "o_funct1 [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 48,
        viewports: [
            (
                curr_left: (0.75951854762801),
                curr_right: (1.0061154766669764),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            207689,
        ])),
        markers: {},
        focused_item: Some((16)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (15),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.1),
)