(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("wave.vcd"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "forwarding_unit_tb",
                "dutty",
                "Cache_buff",
            ],
        ))),
        displayed_items_order: [
            (30),
            (21),
            (23),
            (22),
            (24),
            (32),
            (28),
            (34),
            (35),
            (36),
            (37),
            (38),
            (39),
            (40),
            (41),
            (42),
            (43),
            (44),
            (45),
            (46),
            (47),
            (48),
            (49),
            (50),
            (51),
            (52),
            (53),
            (54),
            (55),
            (56),
            (57),
            (61),
            (62),
            (63),
            (33),
            (6),
            (8),
            (7),
            (9),
            (29),
            (1),
            (3),
            (2),
            (4),
            (31),
            (26),
            (27),
        ],
        displayed_items: {
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_3",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_3.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (41): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (28): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_1",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_1.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_1",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_1.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_3",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_3.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "fwd_rs1_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "fwd_rs1_instr1 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_1",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_1.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_2",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_2.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "rs1_addr_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "rs1_addr_instr2 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (57): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_1",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_1.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "rs2_addr_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "rs2_addr_instr1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (33): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (37): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (53): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_2",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_2.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (62): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "Cache_buff",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…Cache_buff.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (49): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "fwd_rs2_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "fwd_rs2_instr1 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "rs1_addr_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "rs1_addr_instr1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "fwd_rs2_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "fwd_rs2_instr2 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_1",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_1.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "expected_fwd_rs1_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "expected_fwd_rs1_instr1 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_3",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_3.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_1",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_1.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (52): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_2",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_2.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_2",
                        ],
                    ),
                    name: "fwd_en",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_2.fwd_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (32): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "expected_fwd_rs1_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "expected_fwd_rs1_instr2 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_2",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_2.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (63): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "Cache_buff",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…Cache_buff.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "expected_fwd_rs2_instr1",
                ),
                color: None,
                background_color: None,
                display_name: "expected_fwd_rs2_instr1 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "expected_fwd_rs2_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "expected_fwd_rs2_instr2 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (31): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (61): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "Cache_buff",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…Cache_buff.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "rs2_addr_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "rs2_addr_instr2 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "pass_count",
                ),
                color: None,
                background_color: None,
                display_name: "pass_count [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "BRU_buff_3",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…BRU_buff_3.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (30): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "fail_count",
                ),
                color: None,
                background_color: None,
                display_name: "fail_count [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                        ],
                    ),
                    name: "fwd_rs1_instr2",
                ),
                color: None,
                background_color: None,
                display_name: "fwd_rs1_instr2 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_3",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_3.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_2",
                        ],
                    ),
                    name: "valid",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_2.valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "forwarding_unit_tb",
                            "dutty",
                            "ALU_buff_3",
                        ],
                    ),
                    name: "rd_buffer",
                ),
                color: None,
                background_color: None,
                display_name: "…ALU_buff_3.rd_buffer [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (45): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 63,
        viewports: [
            (
                curr_left: (0.22927306624565655),
                curr_right: (0.2790601563457056),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: Some((31)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 278.59998,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)